/* #container-width {
  margin-top: 0px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
} */
#container-colour {
  margin-top: 0px;
  background-color: #F8F8FF;
}
#col {
  margin-top: 0px;
  background-color: #C72097;
  padding-top: 10px;
  padding-bottom: 10px;
}
#center-nav, #center-section {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}
#center-section {
  padding-top: 30px;
}
#font-colour {
  color: #F8F8FF;
  font-weight: bold;
}
.vl {
    border-left: 1.5px solid #C6C6CC;
}
#most_current_week {
  padding-bottom: 10px;
}
#select_current_week {
  padding-bottom: 20px;
  padding-right: 10px;
  float: left;
}
