{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}
</script>
<h1>Admin update Page</h1>
{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}
{% if get_week == True %}
  <div id="get_week"></div>
{% endif %}
{% if get_fixtures == True %}
  <div id="get_fixtures"></div>
{% endif %}
<div class="row">
  <div class="col">
    {% if get_goals_table == True %}
      <div id="get_goals_table"></div>
    {% endif %}
  </div>
  <div class="col">
    {% if get_goals_assist_table == True %}
      <div id="get_goals_assist_table"></div>
    {% endif %}
  </div>
  <div class="col">
    {% if get_man_of_the_match_table == True %}
      <div id="get_man_of_the_match_table"></div>
    {% endif %}
  </div>
  <div class="col">
    {% if get_own_goals == True %}
      <div id="get_own_goals"></div>
    {% endif %}
  </div>
</div>
<div class="row">
  <div class="col">
    {% if get_yellow_cards == True %}
      <div id="get_yellow_cards"></div>
    {% endif %}
  </div>
  <div class="col">
    {% if get_red_cards == True %}
      <div id="get_red_cards"></div>
    {% endif %}
  </div>
  <div class="col">
    {% if get_clean_sheets == True %}
      <div id="get_clean_sheets"></div>
    {% endif %}
  </div>
  <div class="col">
    {% if get_form == True %}
      <div id="get_form"></div>
    {% endif %}
  </div>
</div>
<div class="row">
  <div class="col">
    {% if get_goalkeepers == True %}
      <div id="get_goalkeepers"></div>
    {% endif %}
  </div>
</div>
{% endblock %}
