{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}
<div id="col" class="row">
  <nav id="center-nav" class="navbar navbar-expand-lg navbar-light ">
    <a id="font-colour" class="navbar-brand" href="#">Groopstr</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul  class="navbar-nav">
        <li class="nav-item active">
          <a id="font-colour" class="nav-link" href="#">View all Weeks <span class="sr-only">(current)</span></a>
        </li>
        <div class="vl"></div>
        <li class="nav-item">
          <a id="font-colour" class="nav-link" href="#">View all Fixtures</a>
        </li>
        <div class="vl"></div>
        <li class="nav-item">
          <a id="font-colour" class="nav-link" href="#">Statistics tables</a>
        </li>
        <div class="vl"></div>
        <li class="nav-item">
          <a id="font-colour" class="nav-link" href="#">Players points</a>
        </li>
        <div class="vl"></div>
        <li class="nav-item">
          <a id="font-colour" class="nav-link" href="#">Members players points</a>
        </li>
        <div class="vl"></div>
        <li class="nav-item">
          <a id="font-colour" class="nav-link" href="#">Users total players points</a>
        </li>
        <div class="vl"></div>
      </ul>
    </div>
  </nav>
</div>
<h1>Admin update Page</h1>
{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}
{% if get_week == True %}
  <div id="get_week"></div>
{% endif %}
{% if get_fixtures == True %}
  <div id="get_fixtures"></div>
{% endif %}
<div class="row">
  <div class="col">
    {% if get_goals_table == True %}
      <div id="get_goals_table"></div>
    {% endif %}
  </div>
  <div class="col">
    {% if get_goals_assist_table == True %}
      <div id="get_goals_assist_table"></div>
    {% endif %}
  </div>
  <div class="col">
    {% if get_man_of_the_match_table == True %}
      <div id="get_man_of_the_match_table"></div>
    {% endif %}
  </div>
  <div class="col">
    {% if get_own_goals == True %}
      <div id="get_own_goals"></div>
    {% endif %}
  </div>
</div>
<div class="row">
  <div class="col">
    {% if get_yellow_cards == True %}
      <div id="get_yellow_cards"></div>
    {% endif %}
  </div>
  <div class="col">
    {% if get_red_cards == True %}
      <div id="get_red_cards"></div>
    {% endif %}
  </div>
  <div class="col">
    {% if get_clean_sheets == True %}
      <div id="get_clean_sheets"></div>
    {% endif %}
  </div>
  <div class="col">
    {% if get_form == True %}
      <div id="get_form"></div>
    {% endif %}
  </div>
</div>
<div class="row">
  <div class="col">
    {% if get_goalkeepers == True %}
      <div id="get_goalkeepers"></div>
    {% endif %}
  </div>
  <div class="col">
    {% if get_defenders == True %}
      <div id="get_defenders"></div>
    {% endif %}
  </div>
  <div class="col">
    {% if get_midfielders == True %}
      <div id="get_midfielders"></div>
    {% endif %}
  </div>
  <div class="col">
    {% if get_forwards == True %}
      <div id="get_forwards"></div>
    {% endif %}
  </div>
</div>
<div class="row">
  <div class="col">
    {% if get_players_points == True %}
      <div id="get_players_points"></div>
    {% endif %}
  </div>
</div>
<div class="row">
  <div class="col">
    {% if get_user_total_points == True %}
      <div id="get_user_total_points"></div>
    {% endif %}
  </div>
</div>
<script src="{% static '/js/main.js' %}"></script>
{% endblock %}
