{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}

<h1>Members Page</h1>

{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}
{{ username }}
<br />
<br />
{% if members_info == True %}
  <div id="members_info"></div>
{% endif %}
{% if has_squad == False %}
  <h6><a href="{% url 'squad' %}">Click to pick your squad</a></h6>
{% endif %}
<h5><a href="{% url 'members' %}">Click here to view personal info</a></h5>
{% endblock %}
