{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}

<h1>Squad Page</h1>

<h6><b>Username: </b>{{ username }}</h6>
<br />
<h6><b>Team name: </b>{{ team_name }}</h6>
<br />
<h6><b>Credits: </b>{{ credits }} points</h6>
<ul>
  <form action="{% url 'squad' %}" method="POST" class="post-form">{% csrf_token %}
    {% for player in players %}
    <li><input type="checkbox" onclick="myfunc()" name="player" value="{{ player.id }}"><b>Player name: </b>{{ player.player_name }}
      <b> - Main position: </b>{{ player.player_position_1 }}
      <b id="valuation"> - Valuation: </b>{{ player.current_player_value }}</li>
    {% endfor %}
    <button type="submit" class="save btn btn-default">Register players</button>
  </form>
</ul>
<script type="text/javascript">
  function myfunc() {
    var valuation_sum = [];
    const reducer = (accumulator, currentValue) => accumulator + currentValue;
    for (i = 1; i < document.getElementsByTagName('input').length; i++) {
      if (document.getElementsByTagName('input')[i].checked == true) {
        var values = parseInt(document.getElementsByTagName('input')[i].parentElement.lastChild.data);
        valuation_sum.push(values);
      }
    }
    console.log({{ credits }} - valuation_sum.reduce(reducer));
  }
</script>
{% endblock %}
