{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}

<h1>Squad Page</h1>

<h6><b>Username: </b>{{ username }}</h6>
<br />
<h6><b>Team name: </b>{{ team_name }}</h6>
<br />
<h6><b>Credits: </b>{{ credits }} points</h6>
<br />
<p><b>Net credits: </b><i id="net_credits"></i></p>
<ul>
  <form action="{% url 'squad' %}" method="POST" class="post-form">{% csrf_token %}
    {% for player in players %}
    <li><input type="checkbox" onclick="myfunc()" name="player" value="{{ player.id }}"><b>Player name: </b>{{ player.player_name }}
      <b> - Main position: </b>{{ player.player_position_1 }}
      <b id="valuation"> - Valuation: </b>{{ player.current_player_value }}</li>
    {% endfor %}
    <button type="submit" id="reg_player" class="save btn btn-default">Register players</button>
  </form>
</ul>
<script type="text/javascript">
  if (document.getElementById("net_credits").innerText == ""){
    document.getElementById("reg_player").disabled = true;
    document.getElementById("net_credits").innerHTML = 0;
  }
  function myfunc() {
    var valuation_sum = [];
    const reducer = (accumulator, currentValue) => accumulator + currentValue;
    for (i = 1; i < document.getElementsByTagName('input').length; i++) {
      if (document.getElementsByTagName('input')[i].checked == true) {
        var values = parseInt(document.getElementsByTagName('input')[i].parentElement.lastChild.data);
        valuation_sum.push(values);
      }
    }
    if (valuation_sum.length > 0) {
      document.getElementById("reg_player").disabled = false;
      document.getElementById("net_credits").innerHTML = {{ credits }} - valuation_sum.reduce(reducer);
    } else {
      document.getElementById("net_credits").innerHTML = 0;
      document.getElementById("reg_player").disabled = true;
    }
    if (document.getElementById("net_credits").innerText < 0) {
      document.getElementById("reg_player").disabled = true;
      alert('You cannot have any more players');
      for (i = 1; i < document.getElementsByTagName('input').length; i++) {
        if (document.getElementsByTagName('input')[i].checked == true) {
          document.getElementsByTagName('input')[i].checked = false;
          document.getElementById("net_credits").innerHTML = 0;
        }
      }
    }
  }
</script>
{% endblock %}
